body{
background-color: beige;
padding: auto;


}
h1{
    text-align: center;
    color: cadetblue;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    text-align: center;
}